#logo:hover{
    cursor: pointer;
}
.top{
    height: 140px;
}
#logo{
    height: 165px;
}
.logo-tram{
    height: 150px;
}
#texteselection{
    color: white;
    font-weight: bold;
}
#container {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}
#carte {
    min-width: 310px;
    height: 600px;
    margin: 0 auto;
}
.fichier{
    height: 38px;
    background-color:#a81c84; 
}
#btnMarqueur{
    position: relative;
}