#logo:hover{
    cursor: pointer;
}
.top{
    height: 140px;
}
#boutonRecap{
    
}
#logo{
    height: 165px;
}
.logo-tram{
    height: 150px;
}
#texteselection{
    color: white;
    font-weight: bold;
}
#carte {
    min-width: 310px;
    position: relative;
    height: 600px;
    margin: 0 auto;
    z-index: 1;
}
.fichier{
    background-color:#a81c84; 
}
.btn-primary.btnorange {
    background-color: #CC4E0F;
    border-color: #CC4E0F;
}
.btn-primary.btnrouge {
    background-color: #FF0000;
    border-color: #FF0000;
}
.btn-primary.btnjaune {
    background-color: #a81c84;
    border-color: #a81c84;
}